.App {
  text-align: center;
}

html,
body,
#root{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;

}

body {
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  text-shadow:  0 0 4px #4671c19c;
}

button {
  width: fit-content;
  border:none;
  outline:none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;


}


